<ion-tabs class="tabs-royal tabs-icon-top" ng-class="{'tabs-item-hide': tabShow}">


  <ion-tab  icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" title="月默" ui-sref="tab.space">
    <ion-nav-view name="tab-space"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline" title="发现" ui-sref="tab.home">

    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" title="商城" ui-sref="tab.friend">
    <ion-nav-view name="tab-friend"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon-on="ion-ios-person" icon-off="ion-ios-person-outline" title="我的" ui-sref="tab.personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>
</ion-tabs>
