<ion-view view-title="月默" hide-nav-bar="true" >
  <div  class="bar bar-header bar-energized" >

    <h1 class="title">月默</h1>


  </div>
  <ion-content class="bg" ng-style="{'height':height,'margin-top':'42px'}" >

      <div class="swiper-container" ng-style="{'height':height}" style=" width:80%;margin-top: 20px">
        <div class="swiper-wrapper" >
          <div class="swiper-slide" >
            <img class="width" src="img/beijng1.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">北京</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                北京城可谓是历史悠久，文化灿烂，而且北京人对习俗更是很重视，而且丰富多彩，到了中秋节，北京满大街你都能看见泥兔摊，而所谓的“泥兔摊”，就是卖兔儿爷的。在过去老年间，北京中秋还有兔儿爷卖，现在很少见了。似乎也就能在春节庙会上见见了
              </div>
            </div>
          </div>


          <div class="swiper-slide">
            <img class="width" src="img/shanghai1.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">上海</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                上海——烧香斗。所谓香斗，也有称为斗香的，是由纸扎店制作的，形状四方，上大下小，大的四周各宽约有二尺多。香斗四周糊着纱绢，绘有月宫楼台亭阁等图画，也有的香斗用线香编绕而成，斗中插有纸扎的龙门魁星以及彩色旗旌等装饰。
              </div>
            </div>

          </div>

          <div class="swiper-slide">
            <img class="width" src="img/nanjing.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">南京</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                在江苏省，中秋节的习俗也是多种多样。南京人中秋爱吃月饼外，必吃金陵名菜桂花鸭。“桂花鸭”于桂子飘香之时应市，肥而不腻，味美可口。酒后必食一小糖芋头，浇以桂浆，美不待言。
              </div>
            </div>

          </div>

          <div class="swiper-slide">
            <img class="width" src="img/chengdu.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">成都</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                天府之国，土地肥沃、物产丰富的四川省，除了过中秋吃月饼以外，还要打粑、杀鸭子、吃麻饼、蜜饼等。有的地方也点桔灯，悬于门口，以示庆祝。也有儿童在柚子上插满香，沿街舞动，叫做“舞流星香球”。
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img class="width" src="img/fujian3.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">福建</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                福建人过中秋，吃月饼，除了吃月饼以外，女子过中秋，需要穿行南浦桥，以求长寿。在福建建宁，中秋夜以挂灯为向月宫求子吉兆。福建上杭县在过中秋时，儿女多在拜月时请月姑。
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img class="width" src="img/hanguo1.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">韩国</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                同样的儒家教育的国家，韩国也过中秋节，他们最重要的是全家人要团聚到爷爷奶奶家，首先是祭拜祖先，然后全家人一起喝酒、打麻将、跳舞、赏月等。中秋节习惯吃"松糕"，这是有点类似月饼的食物。
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img class="width" src="img/riben.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">日本</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                日本在鉴真东渡时期，鉴真大和尚将中国传统文化传到了日本，并且将吃团子，赏月会的形式传到了日本，日本人在过中秋吃的是江米做的"团子"，形状各异，馅儿以豆沙为主。如今日本只有少部分地方保留着过月见节的习惯，一些神社、寺院会举行赏月会，格外壮观。
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img class="width" src="img/taiguo1.jpg" alt="">
            <span class="title ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">泰国</span>
            <div class="card">
              <div class="item item-text-wrap ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.8s" swiper-animate-delay="0.3s">
                到了泰国，也会延续中国文化余风，到了八月十五人们在大方桌前端坐祈祷，拜观音菩萨和八仙。桌上还摆满了"寿桃"、"月饼"之类美食。据泰国传说，中秋祈月，八仙会带着寿桃到月宫给观音祝寿，神仙们就会"降福"。
              </div>
            </div>
          </div>



        </div>
      </div>

  </ion-content>
</ion-view>


