<ion-view  view-title="关于我们"  >
  <ion-nav-bar class="balanced-bg">
    <ion-nav-buttons  ><button style="color: white" class=" button button-clear" ng-click="goback()"><span class="icon ion-chevron-left " > back</span></button></ion-nav-buttons>

  </ion-nav-bar>
  <ion-content >
    <ion-list>
      <div >

      </div>
    </ion-list>


  </ion-content>
  <div style="width: 80%; height:100%;text-align: center;font-size:18px;">

  <span style="position: absolute;top:70%;left:26%;">© 2017 AliF5版权所有 <br><span>版本号：V1.0.3</span></span>

  </div>
</ion-view>
