<ion-view  view-title="个人信息"  >
  <ion-nav-bar class="balanced-bg">
    <ion-nav-back-button  style="color: white" class=" button button-clear "><span class="icon ion-chevron-left " ng-click="run2()"></span></ion-nav-back-button>
    <!--<ion-nav-buttons side="right">-->
    <!--<button  class="button button-assertive button-clear "  >发布ST</button>-->
    <!--</ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-content >
    <ion-list>
      <a style="height: 80px" class="item   item-icon-right item-icon-right"  ng-click="show()">
        <span >头像</span>
      <span class="icon personal " style="margin-right: 30px">
        <img src="http://ovre0qmr5.bkt.clouddn.com/21a7b687514832c5a6df7e350e00374b.jpg" alt="" >
      </span>

        <span class="icon ion-chevron-right" style="color: #eee"></span>
      </a>
      <!--<a class="item" ui-sref="tab.login">登录-->
      <!--<a class="item" ui-sref="tab.register">注册</a>-->
      <a class="item  item-icon-right" >
      昵称
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>

      <a class="item  item-icon-right" href="#">
      姓名
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>

      <a class="item  item-icon-right" href="#">
        实名认证
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>

      <a class="item  item-icon-right" href="#">
     手机号
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>
      <a class="item  item-icon-right" href="#">
       微信
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>
      <a class="item  item-icon-right" href="#">
       QQ
        <span class="icon ion-chevron-right" style="color: #eeeeee"></span>
      </a>

    </ion-list>
  </ion-content>
</ion-view>
