<ion-view  view-title="{{username}}"  >
  <ion-nav-bar class="balanced-bg">
    <ion-nav-buttons  ><button style="color: white" class=" button button-clear" ng-click="goback()"><span class="icon ion-chevron-left " > back</span></button></ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
    <!--<button  class="button button-assertive button-clear "  >发布ST</button>-->
    <!--</ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-content >
    <ion-list>
      <div class="item"  ng-click="zhuxiao()">
        <button class="button button-positive button-full">注销</button>
      </div>
    </ion-list>


  </ion-content>
</ion-view>
